<div class="ui vertical">
  <div class="ui left aligned page grid">
    <div class="row">
      <div class="column">
        <h2 class="ui header"><%= @topic.subject %></h2>
        <div class="ui divider">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui left aligned page grid">
    <div class="row">
      <div class="column">
        <h3 class="ui header"><%= t 'committer' %></h3>
        <div><%= @topic.user.first_name %></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h3 class="ui header"><%= t 'topic_description' %></h3>
        <div><%= @topic.description %></div>
      </div>
    </div>
  </div>
</div>