<div class="ui vertical announcement">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui info message">
          <ul class="list">
            <li>所有人都可以提出分享主题；</li>
            <li>在每个投票周期内，每人可以最多为一个主题投票；</li>
            <li>在投票周期结束时，得票最多的主题就会成为这次技术分享的主题.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <h1 class="ui header"><%= t 'topic_list' %></h1>
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical main" id="pending-topics">
  <div class="ui page grid">
    <div class="row">
      <div class="column">
        <div class="ui success message">
          <h3 class="ui header">本次分享：JavaScript 基本知识</h3>
          <ul class="list">
            <li>分享人：郑凯</li>
            <li>地点：B20 会议室</li>
            <li>时间：11月3日（周四）下午 4:00 - 5:00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <div class="ui success message hidden">
          <i class="close icon"></i>
          <div class="header"><%= t 'added_a_new_topic' %></div>
          <p><%= t 'great_ideas_worth_spreading' %></p>
        </div>
        <table class="ui very basic striped table">
          <thead>
            <tr>
              <th class="right aligned">#</th>
              <th><%= t 'topic' %></th>
              <th class="right aligned"><%= t 'committer' %></th>
              <th class="right aligned"><%= t 'votes' %></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="topic in topics">
              <tr>
                <td class="right aligned">{{ topic.id }}</td>
                <td><a class="subject" v-bind:href="'/topic/' + topic.id" v-bind="{'data-content': getDescription(topic.description), 'data-variation': 'basic'}" data-position="bottom left">{{ topic.subject }}</a></td>
                <td class="right aligned">{{ topic.author }}</td>
                <td class="right aligned">
                  <a class="ui label" data-tooltip="撤销投票" data-position="right center" v-on:click="toggleVote" v-if="is_voted(topic.id)">
                    <i class="remove icon"></i>
                    <span>{{ topic.vote_count }}</span>
                    <input type="hidden" v-bind:value="topic.id">
                  </a>
                  <a class="ui olive label" data-tooltip="投一票" data-position="right center" v-on:click="toggleVote"  v-if="!is_voted(topic.id) && points > 0">
                    <i class="thumbs outline up icon"></i>
                    <span>{{ topic.vote_count }}</span>
                    <input type="hidden" v-bind:value="topic.id">
                  </a>
                  <a class="ui circular labels" data-tooltip="您已经没有票啦" data-position="right center"  v-if="!is_voted(topic.id) && points <= 0">
                    <span class="ui label">{{ topic.vote_count }}</span>
                    <input type="hidden" v-bind:value="topic.id">
                  </a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <button class="positive massive ui button" id="show-modal"><%= t 'add_topic' %></button>
      </div>
    </div>
  </div>
</div>

<div class="ui modal">
  <div class="header">
    <%= t 'add_topic' %>
  </div>
  <div class="content">
    <%= form_for :topic, :html => {:class => "ui form", :id => 'create-topic'}, url: topics_path do |f| %>
        <div class="field">
          <%= f.label :subject, (t 'topic_subject') %>
          <%= f.text_field :subject %>
        </div>

        <!--<div class="field">-->
          <!--<%= f.label :tags %>-->
          <!--<%= f.text_field :tags, :placeholder => 'Tags (separated by comma)' %>-->
        <!--</div>-->

        <div class="field">
          <%= f.label :description, (t 'topic_description') %>
          <%= f.text_area :description %>
        </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      <%= t 'cancel' %>
    </div>
    <div class="ui positive right labeled icon button" id="submit-button">
      <%= t 'submit' %>
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>

</script>

<%= content_for :js do %>
    <%= javascript_include_tag "home" %>
<% end %>