<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <h1 class="ui header">Check out the Topics</h1>
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical main" id="pending-topics">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <table class="ui very basic striped table">
          <thead>
            <tr>
              <th class="right aligned">#</th>
              <th>Topic</th>
              <th class="right aligned">Owner</th>
              <th class="right aligned">Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="topic in topics">
              <td class="right aligned">{{ topic.id }}</td>
              <td>{{ topic.subject }}</td>
              <td class="right aligned">{{ topic.author }}</td>
              <td class="right aligned">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <button class="positive massive ui button" id="show-modal">Add a Topic</button>
      </div>
    </div>
  </div>
</div>

<div class="ui modal">
  <div class="header">
    Add a New Topic
  </div>
  <div class="content">
    <%= form_for :topic, :html => {:class => "ui form", :id => 'create-topic'}, url: topics_path do |f| %>
        <div class="field">
          <%= f.label :subject %>
          <%= f.text_field :subject, :placeholder => 'Topic Subject' %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, :placeholder => 'Topic Description' %>
        </div>

        <p>
          <%= f.submit :class => 'ui button' %>
        </p>
    <% end %>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>
  var topics = new Vue({
    el: '#pending-topics',
    data: {
      topics: []
    },
    created: function () {
      this.fetch();
    },
    methods: {
      fetch: function () {
        var self = this;
        $.ajax({
          url: '/topics/pending',
          method: 'GET',
          success: function (data) {
            console.dir(data.q);
            if (data.s) {
              self.topics = data.q.topics;
            }
          },
          error: function (err) {
            console.error(err);
          }
        });
      }
    }
  });

  $('#show-modal').click(function () {
    $('.ui.modal').modal('setting', 'closable', false).modal('show');
  });

  $('form#create-topic').submit(function () {
    var self = $(this);
    var values = self.serialize();
    self.addClass('loading');

    $.ajax({
      type: 'POST',
      url: self.attr('action'),
      data: values
    }).success(function () {
      self.removeClass('loading');
      topics.fetch();
    }).error(function () {
      self.removeClass('loading');
      console.log('---');
    });
    return false;
  });
</script>