<div class="ui vertical announcement">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui info message">
          <div class="header">
            Announcement
          </div>
          <ul class="list">
            <li>It's good to see you again.</li>
            <li>Did you know it's been a while?</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <h1 class="ui header">Check out the Topics</h1>
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical main" id="pending-topics">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <div class="ui success message hidden">
          <i class="close icon"></i>
          <div class="header">You just added a new topic.</div>
          <p>Your great ideas worth spreading, huh?
          </p>
        </div>
        <table class="ui very basic striped table">
          <thead>
            <tr>
              <th class="right aligned">#</th>
              <th>Topic</th>
              <th class="right aligned">Owner</th>
              <th class="right aligned">Votes</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="topic in topics">
              <tr>
                <td class="right aligned">{{ topic.id }}</td>
                <td>{{ topic.subject }}</td>
                <td class="right aligned">{{ topic.author }}</td>
                <td class="right aligned">
                  <a v-bind:class="['ui', 'label', is_voted(topic.id) ? 'olive' : '']" v-on:click="toggleVote" data-content="Not enough point to vote"> 
                    <i class="thumbs outline up icon"></i>
                    <span>{{ topic.vote_count }}</span> 
                    <input type="hidden" v-bind:value="topic.id">
                  </a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <button class="positive massive ui button" id="show-modal">Add a Topic</button>
      </div>
    </div>
  </div>
</div>

<div class="ui modal">
  <div class="header">
    Add a New Topic
  </div>
  <div class="content">
    <%= form_for :topic, :html => {:class => "ui form", :id => 'create-topic'}, url: topics_path do |f| %>
        <div class="field">
          <%= f.label :subject %>
          <%= f.text_field :subject, :placeholder => 'Topic Subject' %>
        </div>

        <div class="field">
          <%= f.label :tags %>
          <%= f.text_field :tags, :placeholder => 'Tags (separated by comma)' %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, :placeholder => 'Topic Description' %>
        </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" id="submit-button">
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>

</script>

<%= content_for :js do %>
    <%= javascript_include_tag "home" %>
<% end %>