<div class="ui grid navbar">
  <div class="computer tablet only row">
    <div class="ui menu page grid fixed">
      <a class="brand item">FunTalk</a>
      <a href="<%= root_path %>" class="<%= active_anchor root_path %> item">
        <i class="code icon"></i> Home
      </a>
      <a href="<%= archives_path %>" class="<%= active_anchor archives_path %> item">
        <i class="fork icon"></i> Archives
      </a>
      <a href="<%= about_path %>" class="<%= active_anchor about_path %> item">
        <i class="bug icon"></i> About
      </a>
      <div class="right menu">
        <a class="ui dropdown item"><%= current_user.first_name %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Profile</div>
            <div class="item">Topics</div>
            <div class="item">Reputation</div>
            <div class="ui divider"></div>
            <div class="item">
              <i class="plus icon"></i>New Topic
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="mobile only row">
    <div class="ui navbar menu">
      <a href="" class="brand item">FunTalk</a>
      <div class="right menu open">
        <a href="" class="menu item">
          <i class="reorder icon"></i>
        </a>
      </div>
    </div>
    <div class="ui vertical navbar menu">
      <a href="<%= root_path %>" class="<%= active_anchor root_path %> item">Home</a>
      <a href="<%= archives_path %>" class="<%= active_anchor archives_path %> item">Archives</a>
      <a href="<%= about_path %>" class="<%= active_anchor about_path %> item">About</a>
      <div class="menu">
        <a class="ui dropdown item">Yuankun
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Profile</div>
            <div class="item">Topics</div>
            <div class="item">Reputation</div>
            <div class="ui divider"></div>
            <div class="item">New Topic</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>